<!-- PAGE CONTENT -->
<div id="page-content">

  <div id="page-header" class="no-margin-bottom">

    <div class="ken-burn" style="background-image:url(<%= asset_path 'backgrounds/page-header-1.jpg' %>);"></div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <h1>About Us</h1>

          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">About Us</li>
          </ol>

        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->

  </div><!-- page-header -->

  <div class="container" id="aboutFirstSentence">
    <div class="row">
      <div class="col-sm-12">

        <h2 class="text-center" id="paddingFirstSentence">Coliman Interior Services is one of Atlanta’s up and coming commercial construction companies.</h2>

        <br>

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->

  <div class="hr"></div>

  <br>

  <section class="full-section half-image" id="section-52">

    <div class="half-image-right" style="background-image:url(<%= asset_path 'about/image-1.jpg' %>);">

      <!--<img src="about/image-1.jpg" alt="">-->
      <%= image_tag('about/image-1.jpg', :alt => '') %>

    </div><!-- half-image-left -->

    <div class="full-section-container">

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-5">

            <h2>It is with great pleasure that we seize this opportunity to introduce our company.</h2>

            <!--<h5><em>Duis congue nibh at tortor ornare,-->
              <!--sed commo do ipsum mattis.</em></h5>-->

            <br>

            <p> We specialize in commercial metal framing, sheetrock installation, acoustical ceilings, finishing and in meeting the expectations of our clients.
              We have served some of Atlanta’s best known construction companies with great pride in our work ethic of
              service. Our patrons benefit from our skill of personnel, and the customized attention we offer on each job site.</p>

            <br>

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

    </div><!-- full-section-container -->
  </section><!-- full-section -->

  <!--<section class="full-section half-image" id="section-53">-->

    <!--<div class="half-image-left" style="background-image:url(<%= asset_path 'about/image-2.jpg' %>);">-->

      <!--&lt;!&ndash;<img src="about/image-2.jpg" alt="">&ndash;&gt;-->
      <!--<%= image_tag('about/image-2.jpg', :alt => '') %>-->

    <!--</div>&lt;!&ndash; half-image-left &ndash;&gt;-->

    <!--<div class="full-section-container">-->

      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-offset-7 col-md-offset-6 col-lg-5 col-md-6">-->

            <!--<h2>Friendly layouts <br class="visible-lg-block"> to suit your needs</h2>-->

            <!--<h5>Duis congue nibh at tortor ornare, sed commo do ipsum mattis.</h5>-->

            <!--<br>-->

            <!--<p>Mollis quam feugiat consequat eu sed eros. Cras suscipit eu est sed imperdiet. Curabitur-->
              <!--ultrices dolor magna, at ven enatis lacus rutrum nec. Quisque elit velit, lacinia sit amet-->
              <!--tellus at, auctor suscipit metus. Duis congue nibh at tortor ornare, sed commo.</p>-->

            <!--<br>-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
        <!--</div>&lt;!&ndash; row &ndash;&gt;-->
      <!--</div>&lt;!&ndash; container &ndash;&gt;-->

    <!--</div>&lt;!&ndash; full-section-container &ndash;&gt;-->
  <!--</section>&lt;!&ndash; full-section &ndash;&gt;-->

  <section class="full-section dark-section parallax" id="section-1" data-stellar-background-ratio="0.1">
    <div class="full-section-container">

      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">

            <h6 class="testimonial-title">Happy Clients</h6>

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

      <div class="container">
        <div class="row">
          <div class="col-sm-12">

            <div class="owl-carousel testimonials-slider">
              <div class="item">

                <div class="testimonial">

                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis dolor.
                      Cras placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</p>
                  </blockquote>

                  <h5>John Turner, <span>Constructor</span></h5>

                </div><!-- testimonial -->

              </div><!-- item -->
              <div class="item">

                <div class="testimonial">

                  <blockquote>
                    <p>Nam quis purus sagittis, mattis purus a, pharetra lectus. Ut eget mollis
                      turpis. Cras in rutrum arcu. Cras vel erat elementum sollicitudin.</p>
                  </blockquote>

                  <h5>Mark Smith, <span>Developer</span></h5>

                </div><!-- testimonial -->

              </div><!-- item -->
              <div class="item">

                <div class="testimonial">

                  <blockquote>
                    <p>Maecenas dignissim tempus est. Integer tristique tortor eros, sit amet
                      elementum quam maximus id. In et tristique dui ante magna.</p>
                  </blockquote>

                  <h5>Kate Carter, <span>Designer</span></h5>

                </div><!-- testimonial -->

              </div><!-- item -->
            </div><!-- testimonials-slider -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

    </div><!-- full-section-container -->
  </section><!-- full-section -->

  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="headline text-center">

          <h2>Company history</h2>

        </div><!-- headline -->

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->

  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <ul class="vertical-timeline">
          <li class="wow fadeInUp" data-wow-offset="50">

            <h4 class="period">June <br> 2007</h4>

            <div class="period-details">

              <h6>We first started our business</h6>

              <p>Aenean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit eu est sed
                imperdiet. Curabitur ultrices dolor magna, at vene natis lacus rutrum nec. Quisque elit
                velit. Aenean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit eu est
                sed imperdiet. Curabitur ultrices dolor magna, at vene natis lacus rutrum nec. Quisque
                elit velit.</p>

            </div><!-- period-details -->

          </li>
          <li class="wow fadeInUp" data-wow-offset="50">

            <h4 class="period">January <br> 2009</h4>

            <div class="period-details">

              <h6>Our first major contract</h6>

              <p>Luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit eu est sed
                imperdiet. Curabitur ultrices dolor magna, at vene natis lacus rutrum nec. Quisque elit
                velit, lacinia. Aenean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit
                eu est sed imperdiet. Curabitur ultrices dolor magna, at vene natis lacus rutrum nec.</p>

            </div><!-- period-details -->

          </li>
          <li class="wow fadeInUp" data-wow-offset="50">

            <h4 class="period">August <br> 2011</h4>

            <div class="period-details">

              <h6>The team si growing with 4 new members</h6>

              <p>Mi mollis quam feugiat consequat eu sed eros. Cras suscipit eu est sed imper diet.
                Curabitur ultrices dolor magna, at vene natis lacus rutrum nec. Quisque elit velit,
                lacinia. Aenean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit eu est
                sed imperdiet. Curabitur ultrices dolor magna, at vene natis lacus rutrum.</p>

            </div><!-- period-details -->

          </li>
          <li class="wow fadeInUp" data-wow-offset="50">

            <h4 class="period">June <br> 2014</h4>

            <div class="period-details">

              <h6>We invested a big capital</h6>

              <p>Sed ultricies a sem sed porta. In nec quam eu purus lacinia dapibus. Mauris egestas
                tincidunt nisl id finibus. Donec sit amet lobortis leo, nec laoreet nunc. Nam aliquam
                iaculis tristique. In scelerisque pretium quam pretium tempus. Vivamus blandit, purus
                quis lobortis viverra, neque diam laoreet libero, sit amet dapibus felis nisl.</p>

            </div><!-- period-details -->

          </li>
          <li class="wow fadeInUp" data-wow-offset="50">

            <h4 class="period">January <br> 2016</h4>

            <div class="period-details">

              <h6>Our first big award winning</h6>

              <p>Pellentesque euismod ligula sit amet purus iaculis, in elementum tortor mollis.
                Aliquam id facilisis metus. In volutpat, felis nec vehicula ultrices, nulla ipsum
                elementum dui, vel commodo purus quam vel dolor. Aenean tincidunt facilisis accumsan.
                Vivamus lacinia sit amet nisl et egestas.</p>

            </div><!-- period-details -->

          </li>
        </ul>

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->

  <!--<section class="full-section dark-section parallax" id="section-5" data-stellar-background-ratio="0.1">-->
    <!--<div class="full-section-container">-->

      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-12">-->

            <!--<h3 class="text-center">Subscribe to our newsletter to get the latest trends &amp; news</h3>-->
            <!--<h5 class="text-center">Join Us!</h5>-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
        <!--</div>&lt;!&ndash; row &ndash;&gt;-->
      <!--</div>&lt;!&ndash; container &ndash;&gt;-->

      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-12">-->

            <!--<div class="widget widget-newsletter">-->

              <!--<form name="newsletter" novalidate method="post" action="#">-->
                <!--<fieldset>-->
                  <!--<div class="row">-->
                    <!--<div class="col-sm-3">-->

                      <!--<input type="text" name="name" placeholder="Name">-->

                    <!--</div>&lt;!&ndash; col &ndash;&gt;-->
                    <!--<div class="col-sm-6">-->

                      <!--<input type="text" name="email" placeholder="Your e-mail">-->

                    <!--</div>&lt;!&ndash; col &ndash;&gt;-->
                    <!--<div class="col-sm-3">-->

                      <!--<button class="btn btn-grey bordered" type="submit" name="submit" value="">Subscribe <i class="fa fa-angle-right"></i></button>-->

                    <!--</div>&lt;!&ndash; col &ndash;&gt;-->
                  <!--</div>&lt;!&ndash; row &ndash;&gt;-->
                <!--</fieldset>-->
              <!--</form>-->

            <!--</div>&lt;!&ndash; widget-newsletter &ndash;&gt;-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
        <!--</div>&lt;!&ndash; row &ndash;&gt;-->
      <!--</div>&lt;!&ndash; container &ndash;&gt;-->

    <!--</div>&lt;!&ndash; full-section-container &ndash;&gt;-->
  <!--</section>&lt;!&ndash; full-section &ndash;&gt;-->

</div><!-- PAGE CONTENT -->