<!-- PAGE CONTENT -->
<div id="page-content">

  <div class="rev_slider_wrapper">
    <div class="rev_slider" data-version="5.0">
      <ul>
        <li data-transition="fade">

          <%= image_tag("index/revolution-slider/bg-slide-1.jpg") %>

          <div class="tp-caption text-special"
               data-x="center"
               data-y="center"
               data-voffset="-55"
               data-start="1200"
               data-speed="300"
               data-transform_in="o:0;y:100;s:500;e:Power2.easeInOut;"
               data-transform_out="o:0;y:-100;s:500;e:Power2.easeInOut;">
            <%= link_to(image_tag("index/revolution-slider/Logo_Coliman_Trnstn.png"), "/") %>
          </div>

        </li>
        <li data-transition="fade">

          <%= image_tag("index/revolution-slider/bg-slide-2.jpg") %>

          <div class="tp-caption title-white-light"
               data-x="center"
               data-y="center"
               data-voffset="-55"
               data-start="1250"
               data-speed="300"
               data-transform_in="o:0;y:100;s:500;e:Power2.easeInOut;"
               data-transform_out="o:0;y:-100;s:500;e:Power2.easeInOut;">
            Extensive
          </div>

          <div class="tp-caption title-white-light"
               data-x="center"
               data-y="center"
               data-voffset="55"
               data-start="1250"
               data-speed="300"
               data-transform_in="o:0;y:100;s:500;e:Power2.easeInOut;"
               data-transform_out="o:0;y:-100;s:500;e:Power2.easeInOut;">
            Experience
          </div>

        </li>
      </ul>
    </div><!-- rev_slider_wrapper -->
  </div><!-- rev_slider -->

  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <h3>Coliman Interior Services is one of Atlanta’s up and coming commercial construction companies.</h3>

        <h5><strong>We specialize in commercial metal framing, sheetrock installation,
          acoustical ceilings, finishing and in meeting the expectations of our clients.</strong></h5>

        <br>

        <!--<p>We specialize in commercial metal framing, sheetrock installation,-->
          <!--acoustical ceilings, finishing and in meeting the expectations of our clients.</p>-->

        <!--<br>-->

        <!--<p><a class="btn btn-default-1 waves" href="#">Discover</a></p>-->

      </div><!-- col -->
      <div class="col-md-6">

        <div class="row">
          <div class="col-sm-6">

            <p><%= image_tag('index/image-20.jpg', :class => 'wow fadeInRight', :alt => '') %></p>

          </div><!-- col -->
          <div class="col-sm-6">

            <p><%= image_tag('index/image-21.jpg', :class => 'wow fadeInRight', :alt => '', data: {wow_delay: '0.1s'}) %></p>

          </div><!-- col -->
        </div><!-- row -->

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->

  <section class="full-section parallax" id="section-26" data-stellar-background-ratio="0.1">
    <div class="full-section-container">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-5 col-sm-offset-1 col-md-7 col-sm-10" id="section-26a">

            <h2 style="color: #ffffff;">We have served some of Atlanta’s best known construction companies with great pride in our work ethic of
              service.</h2>

            <br>

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container-fluid -->

    </div><!-- full-section-container -->
  </section><!-- full-section -->

  <section class="full-section parallax" id="section-27" data-stellar-background-ratio="0.1">
    <div class="full-section-container">

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-offset-1 col-lg-4 col-md-6 col-sm-10" id="section-26a">

            <h2 style="color: #ffffff;">Our patrons benefit from our skill of personnel, and the customized attention we offer on each job site.</h2>

            <!--<p>Feugiat consequat eu sed eros. Cras suscipit eu est sed imperdiet. Curabitur ultrices-->
              <!--dolor magna, at vene natis lacus rutrum nec. Quisque elit velit, lacinia sit amet tellus at,-->
              <!--auctor suscipit metus. Duis congue nibh at tortor ornare, sed com mo do ipsum mattis.-->
              <!--Phasellus lacinia sed purus eget rhoncus. Feugiat consequat eu sed eros. Cras suscipit eu est-->
              <!--sed imperdiet. Curabitur ultrices dolor magna, at vene natis lacus rutrum nec. Quisque elit-->
              <!--velit, lacinia sit amet tellus at, auctor suscipit metus.</p>-->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container-fluid -->

    </div><!-- full-section-container -->
  </section><!-- full-section -->

  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="title">

          <h3>Tools & Technology</h3>

        </div><!-- headline -->

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->

  <div class="container">
    <div class="row">
      <!--<div class="col-md-4">-->

        <!--<h5><strong>Modern and simple. Equipped with all the elements you need.</strong></h5>-->

        <!--<br>-->

        <!--<p>Aenean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit eu est sed imperdiet.-->
          <!--Curabitur ultrices dolor magna, at vene natis lacus rutrum nec. Quisque elit velit, lacinia sit amet-->
          <!--tellus at, auctor sus cipit metus. Duis congue nibh at tortor ornare, sed commo do ipsum mattis.-->
          <!--Phasellus lacinia sed purus eget rhoncus. Mauris ut tortor efficitur.</p>-->

        <!--<br>-->

        <!--<p><a class="btn btn-default-1 waves" href="#">Discover</a></p>-->

        <!--<br class="hidden-lg hidden-md">-->

      <!--</div>&lt;!&ndash; col &ndash;&gt;-->
      <div class="col-md-offset-3 col-md-12">

        <div class="row">
          <div class="col-sm-2">

            <div class="service-box style-4 wow fadeIn">

              <i class="service-icon icon-energy"></i>

              <h6><a href="single-service.html">Lasers</a></h6>

              <!--<div class="service-box-content">-->

                <!--<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Pellentesque vitae dui.</p>-->

              <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

            </div><!-- service-box -->

          </div><!-- col -->
          <div class="col-sm-2">

            <div class="service-box style-4 wow fadeIn" data-wow-delay="0.1s">

              <i class="service-icon icon-settings"></i>

              <h6><a href="single-service.html">Scaffolds</a></h6>

              <!--<div class="service-box-content">-->

                <!--<p>Etiam turpis tortor, finibus quis urna eu, venenatis dapibus leo. Etiam sit amet-->
                  <!--fringilla.</p>-->

              <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

            </div><!-- service-box -->

          </div><!-- col -->
          <div class="col-sm-2">

            <div class="service-box style-4 wow fadeIn">

              <i class="service-icon icon-vector"></i>

              <h6><a href="single-service.html">Stilts</a></h6>

              <!--<div class="service-box-content">-->

              <!--<p>Aliquam pretium diam a elit dignissim, sit amet sodales neque tristique. Duis non.</p>-->

              <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

            </div><!-- service-box -->

          </div><!-- col -->
        </div><!-- row -->

        <div class="row">
          <div class="col-sm-2">

            <div class="service-box style-4 wow fadeIn">

              <i class="service-icon icon-eyeglass"></i>

              <h6><a href="single-service.html">Training</a></h6>

              <!--<div class="service-box-content">-->

                <!--<p>Aliquam pretium diam a elit dignissim, sit amet sodales neque tristique. Duis non.</p>-->

              <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

            </div><!-- service-box -->

          </div><!-- col -->
          <div class="col-sm-offset-2 col-sm-2">

            <div class="service-box style-4 wow fadeIn" data-wow-delay="0.1s">

              <i class="service-icon icon-graduation"></i>

              <h6><a href="single-service.html">Education</a></h6>

              <!--<div class="service-box-content">-->

                <!--<p>Praesent et laoreet tortor. Ut molestie ac dolor ut maximus. Vestibulum vestibulum-->
                  <!--enim.</p>-->

              <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

            </div><!-- service-box -->

          </div><!-- col -->
        </div><!-- row -->

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->

  <!--<section class="full-section dark-section parallax" id="section-28" data-stellar-background-ratio="0.1">-->

    <!--<div class="full-section-overlay-color"></div>-->

    <!--<div class="full-section-container">-->

      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-12">-->

            <!--<div class="title text-center" style="margin-bottom:15px;">-->

              <!--<h3>Work process</h3>-->

            <!--</div>&lt;!&ndash; headline &ndash;&gt;-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
        <!--</div>&lt;!&ndash; row &ndash;&gt;-->
      <!--</div>&lt;!&ndash; container &ndash;&gt;-->

      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-12">-->

            <!--<h5 class="text-center"><strong>Modern and simple.</strong></h5>-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
        <!--</div>&lt;!&ndash; row &ndash;&gt;-->
      <!--</div>&lt;!&ndash; container &ndash;&gt;-->

      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-12">-->

            <!--<div class="owl-carousel process-slider">-->
              <!--<div class="item">-->

                <!--<div class="service-box style-7">-->

                  <!--<i class="custom-icon-eyeglasses"></i>-->

                  <!--<div class="service-box-content">-->

                    <!--<h6><a href="single-service.html">Accurate</a></h6>-->

                    <!--<p>Aenean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit-->
                      <!--eu est sed imperdiet luctus.</p>-->

                  <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

                <!--</div>&lt;!&ndash; service-box &ndash;&gt;-->

              <!--</div>&lt;!&ndash; item &ndash;&gt;-->
              <!--<div class="item">-->

                <!--<div class="service-box style-7">-->

                  <!--<i class="custom-icon-settings-4"></i>-->

                  <!--<div class="service-box-content">-->

                    <!--<h6><a href="single-service.html">More gear power</a></h6>-->

                    <!--<p>Luctus mi mollis quam feugiat conseq uat eu sed eros. Cras suscipit eu est-->
                      <!--sed imperdiet. Aenean mdiet.</p>-->

                  <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

                <!--</div>&lt;!&ndash; service-box &ndash;&gt;-->

              <!--</div>&lt;!&ndash; item &ndash;&gt;-->
              <!--<div class="item">-->

                <!--<div class="service-box style-7">-->

                  <!--<i class="custom-icon-database-3"></i>-->

                  <!--<div class="service-box-content">-->

                    <!--<h6><a href="single-service.html">Money well spent</a></h6>-->

                    <!--<p>Enean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit-->
                      <!--eu est sed imperdiet. Aenean luctus.</p>-->

                  <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

                <!--</div>&lt;!&ndash; service-box &ndash;&gt;-->

              <!--</div>&lt;!&ndash; item &ndash;&gt;-->
              <!--<div class="item">-->

                <!--<div class="service-box style-7">-->

                  <!--<i class="custom-icon-notebook-4"></i>-->

                  <!--<div class="service-box-content">-->

                    <!--<h6><a href="single-service.html">Well documented</a></h6>-->

                    <!--<p>Cras tristique felis sed nulla ullamcorper laoreet. Donec sed porta augue,-->
                      <!--ornare maximus nisi est.</p>-->

                  <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

                <!--</div>&lt;!&ndash; service-box &ndash;&gt;-->

              <!--</div>&lt;!&ndash; item &ndash;&gt;-->
              <!--<div class="item">-->

                <!--<div class="service-box style-7">-->

                  <!--<i class="custom-icon-star"></i>-->

                  <!--<div class="service-box-content">-->

                    <!--<h6><a href="single-service.html">Fast response</a></h6>-->

                    <!--<p>Vivamus mollis nisi purus, id euismod magna finibus ut. Nullam bibendum-->
                      <!--neque vitae lectus dapibus.</p>-->

                  <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

                <!--</div>&lt;!&ndash; service-box &ndash;&gt;-->

              <!--</div>&lt;!&ndash; item &ndash;&gt;-->
            <!--</div>&lt;!&ndash; process-slider &ndash;&gt;-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
        <!--</div>&lt;!&ndash; row &ndash;&gt;-->
      <!--</div>&lt;!&ndash; container &ndash;&gt;-->

    <!--</div>&lt;!&ndash; full-section-container &ndash;&gt;-->
  <!--</section>&lt;!&ndash; full-section &ndash;&gt;-->

</div><!-- PAGE CONTENT -->