<!-- PAGE CONTENT -->
<div id="page-content">

  <div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(<%= asset_path 'backgrounds/page-header-8.jpg' %>);">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <h1>Portfolio</h1>

          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Portfolio</li>
          </ol>

        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->

  </div><!-- page-header -->

  <div class="isotope masonry">
    <div class="isotope-item item-width-1 categ-2">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-13.jpg" alt="">-->
          <%= image_tag('portfolio/image-13.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-13.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/image-13.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-1 categ-1">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-14.jpg" alt="">-->
          <%= image_tag('portfolio/image-14.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-14.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/image-14.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-1 categ-1 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-15.jpg" alt="">-->
          <%= image_tag('portfolio/image-15.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-15.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/image-15.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-2 categ-2 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-16.jpg" alt="">-->
          <%= image_tag('portfolio/image-16.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-16.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/image-16.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-2 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-17.jpg" alt="">-->
          <%= image_tag('portfolio/image-17.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-17.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/image-17.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-1 categ-1 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-18.jpg" alt="">-->
          <%= image_tag('portfolio/image-18.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-18.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/image-18.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-1 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-38.jpg" alt="">-->
          <%= image_tag('portfolio/image-38.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-38.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/image-38.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-2 categ-1">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-39.jpg" alt="">-->
          <%= image_tag('portfolio/image-39.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-39.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/image-39.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-2 categ-1 categ-2">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-40.jpg" alt="">-->
          <%= image_tag('portfolio/image-40.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-40.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/image-40.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <!--<div class="isotope-item item-width-1 categ-2">-->

      <!--<div class="portfolio-item">-->

        <!--<div class="portfolio-item-thumbnail">-->

          <!--<img src="portfolio/image-41.jpg" alt="">-->

          <!--<div class="portfolio-item-hover">-->

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-41.jpg"></a>-->

          <!--</div>&lt;!&ndash; portfolio-item-hover &ndash;&gt;-->

        <!--</div>&lt;!&ndash; portfolio-item-thumbnail &ndash;&gt;-->

      <!--</div>&lt;!&ndash; portfolio-item &ndash;&gt;-->

    <!--</div>&lt;!&ndash; isotope-item &ndash;&gt;-->
    <!--<div class="isotope-item item-width-2 categ-2">-->

      <!--<div class="portfolio-item">-->

        <!--<div class="portfolio-item-thumbnail">-->

          <!--<img src="portfolio/image-42.jpg" alt="">-->

          <!--<div class="portfolio-item-hover">-->

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-42.jpg"></a>-->

          <!--</div>&lt;!&ndash; portfolio-item-hover &ndash;&gt;-->

        <!--</div>&lt;!&ndash; portfolio-item-thumbnail &ndash;&gt;-->

      <!--</div>&lt;!&ndash; portfolio-item &ndash;&gt;-->

    <!--</div>&lt;!&ndash; isotope-item &ndash;&gt;-->
    <!--<div class="isotope-item item-width-2 categ-2">-->

      <!--<div class="portfolio-item">-->

        <!--<div class="portfolio-item-thumbnail">-->

          <!--<img src="portfolio/image-43.jpg" alt="">-->

          <!--<div class="portfolio-item-hover">-->

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-43.jpg"></a>-->

          <!--</div>&lt;!&ndash; portfolio-item-hover &ndash;&gt;-->

        <!--</div>&lt;!&ndash; portfolio-item-thumbnail &ndash;&gt;-->

      <!--</div>&lt;!&ndash; portfolio-item &ndash;&gt;-->

    <!--</div>&lt;!&ndash; isotope-item &ndash;&gt;-->



    <!--<div class="isotope-item item-width-2 categ-3">-->

      <!--<div class="portfolio-item">-->

        <!--<div class="portfolio-item-thumbnail">-->

          <!--<img src="portfolio/image-51.jpg" alt="">-->

          <!--<div class="portfolio-item-hover">-->

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-51.jpg"></a>-->

          <!--</div>&lt;!&ndash; portfolio-item-hover &ndash;&gt;-->

        <!--</div>&lt;!&ndash; portfolio-item-thumbnail &ndash;&gt;-->

      <!--</div>&lt;!&ndash; portfolio-item &ndash;&gt;-->

    <!--</div>&lt;!&ndash; isotope-item &ndash;&gt;-->
    <!--<div class="isotope-item item-width-2 categ-3">-->

      <!--<div class="portfolio-item">-->

        <!--<div class="portfolio-item-thumbnail">-->

          <!--<img src="portfolio/image-52.jpg" alt="">-->

          <!--<div class="portfolio-item-hover">-->

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-52.jpg"></a>-->

          <!--</div>&lt;!&ndash; portfolio-item-hover &ndash;&gt;-->

        <!--</div>&lt;!&ndash; portfolio-item-thumbnail &ndash;&gt;-->

      <!--</div>&lt;!&ndash; portfolio-item &ndash;&gt;-->

    <!--</div>&lt;!&ndash; isotope-item &ndash;&gt;-->
    <!--<div class="isotope-item item-width-1 categ-3">-->

      <!--<div class="portfolio-item">-->

        <!--<div class="portfolio-item-thumbnail">-->

          <!--<img src="portfolio/image-50.jpg" alt="">-->

          <!--<div class="portfolio-item-hover">-->

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-50.jpg"></a>-->

          <!--</div>&lt;!&ndash; portfolio-item-hover &ndash;&gt;-->

        <!--</div>&lt;!&ndash; portfolio-item-thumbnail &ndash;&gt;-->

      <!--</div>&lt;!&ndash; portfolio-item &ndash;&gt;-->

    <!--</div>&lt;!&ndash; isotope-item &ndash;&gt;-->
    <!--<div class="isotope-item item-width-2 categ-3">-->

      <!--<div class="portfolio-item">-->

        <!--<div class="portfolio-item-thumbnail">-->

          <!--<img src="portfolio/image-55.jpg" alt="">-->

          <!--<div class="portfolio-item-hover">-->

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-55.jpg"></a>-->

          <!--</div>&lt;!&ndash; portfolio-item-hover &ndash;&gt;-->

        <!--</div>&lt;!&ndash; portfolio-item-thumbnail &ndash;&gt;-->

      <!--</div>&lt;!&ndash; portfolio-item &ndash;&gt;-->

    <!--</div>&lt;!&ndash; isotope-item &ndash;&gt;-->
    <!--<div class="isotope-item item-width-2 categ-3">-->

      <!--<div class="portfolio-item">-->

        <!--<div class="portfolio-item-thumbnail">-->

          <!--<img src="portfolio/image-56.jpg" alt="">-->

          <!--<div class="portfolio-item-hover">-->

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-56.jpg"></a>-->

          <!--</div>&lt;!&ndash; portfolio-item-hover &ndash;&gt;-->

        <!--</div>&lt;!&ndash; portfolio-item-thumbnail &ndash;&gt;-->

      <!--</div>&lt;!&ndash; portfolio-item &ndash;&gt;-->

    <!--</div>&lt;!&ndash; isotope-item &ndash;&gt;-->
    <!--<div class="isotope-item item-width-2 categ-3">-->

      <!--<div class="portfolio-item">-->

        <!--<div class="portfolio-item-thumbnail">-->

          <!--<img src="portfolio/image-53.jpg" alt="">-->

          <!--<div class="portfolio-item-hover">-->

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-53.jpg"></a>-->

          <!--</div>&lt;!&ndash; portfolio-item-hover &ndash;&gt;-->

        <!--</div>&lt;!&ndash; portfolio-item-thumbnail &ndash;&gt;-->

      <!--</div>&lt;!&ndash; portfolio-item &ndash;&gt;-->

    <!--</div>&lt;!&ndash; isotope-item &ndash;&gt;-->
    <!--<div class="isotope-item item-width-2 categ-3">-->

      <!--<div class="portfolio-item">-->

        <!--<div class="portfolio-item-thumbnail">-->

          <!--<img src="portfolio/image-54.jpg" alt="">-->

          <!--<div class="portfolio-item-hover">-->

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-54.jpg"></a>-->

          <!--</div>&lt;!&ndash; portfolio-item-hover &ndash;&gt;-->

        <!--</div>&lt;!&ndash; portfolio-item-thumbnail &ndash;&gt;-->

      <!--</div>&lt;!&ndash; portfolio-item &ndash;&gt;-->

    <!--</div>&lt;!&ndash; isotope-item &ndash;&gt;-->
    <!--<div class="isotope-item item-width-1 categ-3">-->

      <!--<div class="portfolio-item">-->

        <!--<div class="portfolio-item-thumbnail">-->

          <!--<img src="portfolio/image-44.jpg" alt="">-->

          <!--<div class="portfolio-item-hover">-->

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-44.jpg"></a>-->

          <!--</div>&lt;!&ndash; portfolio-item-hover &ndash;&gt;-->

        <!--</div>&lt;!&ndash; portfolio-item-thumbnail &ndash;&gt;-->

      <!--</div>&lt;!&ndash; portfolio-item &ndash;&gt;-->

    <!--</div>&lt;!&ndash; isotope-item &ndash;&gt;-->
  </div><!-- isotope -->

</div><!-- PAGE CONTENT -->