<!-- PAGE CONTENT -->
<div id="page-content">

  <div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(<%= asset_path 'backgrounds/page-header-8.jpg' %>);">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <h1>Portfolio</h1>

          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Portfolio</li>
          </ol>

        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->

  </div><!-- page-header -->

  <section class="full-section dark-section" id="section-11a">
    <div class="full-section-container">

      <div class="container">
        <div class="row">
          <div class="col-sm-12">

            <h5 class="no-margin-bottom">Interactive College of Technology</h5>

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

    </div><!-- full-section-container -->
  </section><!-- full-section -->

  <div class="isotope masonry">
    <div class="isotope-item item-width-1 categ-2">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-13.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_1.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-13.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_1.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-1 categ-1">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-14.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_2.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-14.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_2.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-1 categ-1 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-15.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_3.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-15.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_3.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-2 categ-2 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-16.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_4.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-16.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_4.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-2 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-17.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_5.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-17.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_5.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-1 categ-1 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-18.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_6.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-18.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_6.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-1 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-38.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_7.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-38.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_7.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-2 categ-1">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-39.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_8.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-39.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_8.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-2 categ-1 categ-2">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-40.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_9.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-40.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_9.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->

  </div><!-- isotope -->

  <section class="full-section dark-section" id="section-11b">
    <div class="full-section-container">

      <div class="container" id="section-11b">
        <div class="row">
          <div class="col-sm-12">

            <h5 class="no-margin-bottom">Another Project</h5>

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

    </div><!-- full-section-container -->
  </section><!-- full-section -->

  <div class="isotope masonry">
    <div class="isotope-item item-width-1 categ-2">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-13.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_1.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-13.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_1.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-1 categ-1">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-14.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_2.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-14.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_2.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-1 categ-1 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-15.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_3.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-15.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_3.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-2 categ-2 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-16.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_4.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-16.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_4.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-2 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-17.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_5.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-17.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_5.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-1 categ-1 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-18.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_6.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-18.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_6.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-1 categ-3">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-38.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_7.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-38.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_7.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-2 categ-1">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-39.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_8.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-39.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_8.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->
    <div class="isotope-item item-width-2 categ-1 categ-2">

      <div class="portfolio-item">

        <div class="portfolio-item-thumbnail">

          <!--<img src="portfolio/image-40.jpg" alt="">-->
          <%= image_tag('portfolio/ict/img_9.jpg', :alt => '') %>

          <div class="portfolio-item-hover">

            <!--<a class="fancybox zoom-action" data-fancybox-group="portfolio" href="portfolio/image-40.jpg"></a>-->
            <a class="fancybox zoom-action" data-fancybox-group="portfolio" href="<%= image_path('portfolio/ict/img_9.jpg') %>"></a>

          </div><!-- portfolio-item-hover -->

        </div><!-- portfolio-item-thumbnail -->

      </div><!-- portfolio-item -->

    </div><!-- isotope-item -->

  </div><!-- isotope -->

</div><!-- PAGE CONTENT -->