<!-- PAGE CONTENT -->
<div id="page-content">

  <div id="page-header">

    <div class="ken-burn" style="background-image:url(<%= asset_path 'backgrounds/page-header-4.jpg' %>);"></div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <h1>Services</h1>

          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Services</li>
          </ol>

        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->

  </div><!-- page-header -->

  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <div class="service-box style-1" style="background-image:url(<%= asset_path 'services/image-16.jpg' %>);">

          <a class="waves" href="single-service.html">

            <div class="service-box-content">

              <h6>Framing</h6>

              <h4>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Pellentesque vitae dui interdum, rhoncus velit.</h4>

            </div><!-- service-box-content -->

          </a>

        </div><!-- service-box -->

      </div><!-- col -->
      <div class="col-sm-6">

        <div class="service-box style-1" style="background-image:url(<%= asset_path 'services/image-18.jpg' %>);">

          <a class="waves" href="single-service.html">

            <div class="service-box-content">

              <h6>Sheetrock Installation</h6>

              <h4>Maecenas tempor massa et laoreet malesuada. Pellentesque sit amet elementum leo fuis unde dolor amet omis.</h4>

            </div><!-- service-box-content -->

          </a>

        </div><!-- service-box -->

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->

  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <div class="service-box style-1" style="background-image:url(<%= asset_path 'services/image-19.jpg' %>);">

          <a class="waves" href="single-service.html">

            <div class="service-box-content">

              <h6>Finishing</h6>

              <h4>Pellentesque euismod ligula sit amet purus iaculis, in elementum tortor mollis. Aliquam id facilisis metus.</h4>

            </div><!-- service-box-content -->

          </a>

        </div><!-- service-box -->

      </div><!-- col -->
      <div class="col-sm-6">

        <div class="service-box style-1" style="background-image:url(<%= asset_path 'services/image-20.jpg' %>);">

          <a class="waves" href="single-service.html">

            <div class="service-box-content">

              <h6>Compasso Ceiling</h6>

              <h4>Sed ultricies a sem sed porta. In nec quam eu purus lacinia dapibus. Mauris egestas tincidunt nisl id finibus.</h4>

            </div><!-- service-box-content -->

          </a>

        </div><!-- service-box -->

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->

  <!--<br><br>-->

  <!--<section class="full-section dark-section no-margin-bottom" id="section-11">-->
    <!--<div class="full-section-container">-->

      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-9">-->

            <!--<h2 class="no-margin-bottom">Halcyon. A new Experience.</h2>-->
            <!--<p>Designed and developed by milothemes. Sold exclusivley on Envato Marketplace.</p>-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
          <!--<div class="col-sm-3">-->

            <!--<a class="btn btn-grey bordered" href="#">Purchase now</a>-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
        <!--</div>&lt;!&ndash; row &ndash;&gt;-->
      <!--</div>&lt;!&ndash; container &ndash;&gt;-->

    <!--</div>&lt;!&ndash; full-section-container &ndash;&gt;-->
  <!--</section>&lt;!&ndash; full-section &ndash;&gt;-->

  <!--<section class="full-section dark-section" id="section-56">-->
    <!--<div class="full-section-container">-->

      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-4">-->

            <!--<div class="service-box style-2 wow fadeInUp">-->

              <!--<i class="halcyon-icon-network"></i>-->

              <!--<div class="service-box-content">-->

                <!--<h6><a href="single-service.html">Media support</a></h6>-->

                <!--<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Pellentesque vitae dui-->
                  <!--interdum, rhoncus velit.</p>-->

              <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

            <!--</div>&lt;!&ndash; service-box &ndash;&gt;-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
          <!--<div class="col-sm-4">-->

            <!--<div class="service-box style-2 wow fadeInUp" data-wow-delay="0.1s">-->

              <!--<i class="halcyon-icon-smartphone-10"></i>-->

              <!--<div class="service-box-content">-->

                <!--<h6><a href="single-service.html">Responsive</a></h6>-->

                <!--<p>Suspendisse dapibus malesuada lectus, a aliquet odio semper non. Pellentesque in-->
                  <!--accumsan dolor sit amet.</p>-->

              <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

            <!--</div>&lt;!&ndash; service-box &ndash;&gt;-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
          <!--<div class="col-sm-4">-->

            <!--<div class="service-box style-2 wow fadeInUp" data-wow-delay="0.2s">-->

              <!--<i class="halcyon-icon-notebook-4"></i>-->

              <!--<div class="service-box-content">-->

                <!--<h6><a href="single-service.html">Well documented</a></h6>-->

                <!--<p>Maecenas tempor massa et laoreet malesuada. Pellentesque sit amet elementum leo-->
                  <!--fuis unde dolor amet omis.</p>-->

              <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

            <!--</div>&lt;!&ndash; service-box &ndash;&gt;-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
        <!--</div>&lt;!&ndash; row &ndash;&gt;-->
      <!--</div>&lt;!&ndash; container &ndash;&gt;-->

      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-4">-->

            <!--<div class="service-box style-2 wow fadeInUp">-->

              <!--<i class="halcyon-icon-file"></i>-->

              <!--<div class="service-box-content">-->

                <!--<h6><a href="single-service.html">Clean coded</a></h6>-->

                <!--<p>Pellentesque euismod ligula sit amet purus iaculis, in elementum tortor mollis.-->
                  <!--Aliquam id facilisis metus.</p>-->

              <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

            <!--</div>&lt;!&ndash; service-box &ndash;&gt;-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
          <!--<div class="col-sm-4">-->

            <!--<div class="service-box style-2 wow fadeInUp" data-wow-delay="0.1s">-->

              <!--<i class="halcyon-icon-controls-4"></i>-->

              <!--<div class="service-box-content">-->

                <!--<h6><a href="single-service.html">Color schemes</a></h6>-->

                <!--<p>Nam aliquam iaculis tristique. In scelerisque pretium quam pretium tempus. Vivamus-->
                  <!--blandit, quis lobortis.</p>-->

              <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

            <!--</div>&lt;!&ndash; service-box &ndash;&gt;-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
          <!--<div class="col-sm-4">-->

            <!--<div class="service-box style-2 wow fadeInUp" data-wow-delay="0.2s">-->

              <!--<i class="halcyon-icon-spotlight"></i>-->

              <!--<div class="service-box-content">-->

                <!--<h6><a href="single-service.html">Modern design</a></h6>-->

                <!--<p>Sed ultricies a sem sed porta. In nec quam eu purus lacinia dapibus. Mauris egestas-->
                  <!--tincidunt nisl id finibus.</p>-->

              <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

            <!--</div>&lt;!&ndash; service-box &ndash;&gt;-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
        <!--</div>&lt;!&ndash; row &ndash;&gt;-->
      <!--</div>&lt;!&ndash; container &ndash;&gt;-->

      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-4">-->

            <!--<div class="service-box style-2 wow fadeInUp">-->

              <!--<i class="halcyon-icon-settings-4"></i>-->

              <!--<div class="service-box-content">-->

                <!--<h6><a href="single-service.html">Support included</a></h6>-->

                <!--<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin velit massa,-->
                  <!--venenatis quis tincidunt eu.</p>-->

              <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

            <!--</div>&lt;!&ndash; service-box &ndash;&gt;-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
          <!--<div class="col-sm-4">-->

            <!--<div class="service-box style-2 wow fadeInUp" data-wow-delay="0.1s">-->

              <!--<i class="halcyon-icon-bookmark-1"></i>-->

              <!--<div class="service-box-content">-->

                <!--<h6><a href="single-service.html">Blog pages</a></h6>-->

                <!--<p>Vivamus pharetra neque ac finibus convallis. Maecenas rutrum lectus nulla, iaculis-->
                  <!--maximus purus efficitur sit amet.</p>-->

              <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

            <!--</div>&lt;!&ndash; service-box &ndash;&gt;-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
          <!--<div class="col-sm-4">-->

            <!--<div class="service-box style-2 wow fadeInUp" data-wow-delay="0.2s">-->

              <!--<i class="halcyon-icon-folder-4"></i>-->

              <!--<div class="service-box-content">-->

                <!--<h6><a href="single-service.html">Contact form</a></h6>-->

                <!--<p>Donec pretium aliquet velit, ut suscipit mauris consequat in. Pellentesque posuere-->
                  <!--maximus lorem ac luctus.</p>-->

              <!--</div>&lt;!&ndash; service-box-content &ndash;&gt;-->

            <!--</div>&lt;!&ndash; service-box &ndash;&gt;-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
        <!--</div>&lt;!&ndash; row &ndash;&gt;-->
      <!--</div>&lt;!&ndash; container &ndash;&gt;-->

    <!--</div>&lt;!&ndash; full-section-container &ndash;&gt;-->
  <!--</section>&lt;!&ndash; full-section &ndash;&gt;-->

  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-4">-->

        <!--<h2>A modern graph display!</h2>-->

        <!--<p>Aenean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit eu est sed imperdiet.-->
          <!--Curabitur ultrices dolor magna, at ven enatis lacus rutrum nec. Quisque elit velit, lacinia sit amet-->
          <!--tellus at, auctor sus cipit metus.</p>-->

        <!--<p><a class="btn btn-default-1 waves" href="#">Purchase item</a></p>-->

      <!--</div>&lt;!&ndash; col &ndash;&gt;-->
      <!--<div class="col-md-8">-->

        <!--<div class="statistics-container" style="background-image:url(<%= asset_path 'services/image-15.jpg' %>);">-->

          <!--<canvas id="line-chart" class="animate-chart" height="135"></canvas>-->

        <!--</div>&lt;!&ndash; statistics-container &ndash;&gt;-->

      <!--</div>&lt;!&ndash; col &ndash;&gt;-->
    <!--</div>&lt;!&ndash; row &ndash;&gt;-->
  <!--</div>&lt;!&ndash; container &ndash;&gt;-->

  <!--<br><br>-->

  <!--<section class="full-section dark-section parallax" id="section-5" data-stellar-background-ratio="0.1">-->
    <!--<div class="full-section-container">-->

      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-12">-->

            <!--<h3 class="text-center">Subscribe to our newsletter to get the latest trends &amp; news</h3>-->
            <!--<h5 class="text-center">Join our database NOW!</h5>-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
        <!--</div>&lt;!&ndash; row &ndash;&gt;-->
      <!--</div>&lt;!&ndash; container &ndash;&gt;-->

      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-12">-->

            <!--<div class="widget widget-newsletter">-->

              <!--<form name="newsletter" novalidate method="post" action="#">-->
                <!--<fieldset>-->
                  <!--<div class="row">-->
                    <!--<div class="col-sm-3">-->

                      <!--<input type="text" name="name" placeholder="Name">-->

                    <!--</div>&lt;!&ndash; col &ndash;&gt;-->
                    <!--<div class="col-sm-6">-->

                      <!--<input type="text" name="email" placeholder="Your e-mail">-->

                    <!--</div>&lt;!&ndash; col &ndash;&gt;-->
                    <!--<div class="col-sm-3">-->

                      <!--<button class="btn btn-grey bordered" type="submit" name="submit" value="">Subscribe <i class="fa fa-angle-right"></i></button>-->

                    <!--</div>&lt;!&ndash; col &ndash;&gt;-->
                  <!--</div>&lt;!&ndash; row &ndash;&gt;-->
                <!--</fieldset>-->
              <!--</form>-->

            <!--</div>&lt;!&ndash; widget-newsletter &ndash;&gt;-->

          <!--</div>&lt;!&ndash; col &ndash;&gt;-->
        <!--</div>&lt;!&ndash; row &ndash;&gt;-->
      <!--</div>&lt;!&ndash; container &ndash;&gt;-->

    <!--</div>&lt;!&ndash; full-section-container &ndash;&gt;-->
  <!--</section>&lt;!&ndash; full-section &ndash;&gt;-->

</div><!-- PAGE CONTENT -->